@model IEnumerable<MVC_ITI_Project.Models.Department>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*Serch bar and return in index the result by tag helper*@
<form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by Name or Manager Name" aria-label="Search" name="searchString" value="@ViewData["CurrentFilter"]">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>



<!--create form for display all departments with edit and delete button for each department and button for add at the end-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>

            <th></th>
        </tr>
    </thead>
	<tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        
    }
	</tbody>
</table>
<a href="/Departments/Add" class="btn btn-primary">
    Add Department
</a>
